/* html, body{
    height: 100%;
    position: relative;
    width: 100%;    
}
main{
    padding: 10px 80px;
    height: 100%;
    width: 100%;
} */
.my-button{
    background-color: #284B63;
    color: #fff;
}
h3.pgColegioH3 {/*Feito por Jardel da Silva*/
    background-color: #284B63;
    text-align: center;
    color: white;
}